*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0;
    overflow: hidden;
    font-family: system-ui;
    color: var(--primary-color);
    background-color: var(--background-color);
}

@media (width < 768px) {
    #root {
        height: 100dvh;
    }
}

@media (width >= 768px) {
    body {
        overflow-y: auto;
    }
}
