@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --primary-color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --primary-color: #000;
    }
}
