*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100dvh;
    margin: 0;
    font-family: system-ui;
    color: var(--primary-color);
    background-color: var(--background-color);
}

#root {
    min-height: 100dvh;
}
