.root {
    --dock-height: 120px;
    --desktop-content-width: min(80vw, 1536px);
    --separator: 1px solid #d0d3d8;

    height: 100%;
}

@media (width >= 768px) {
    .root {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: var(--desktop-content-width);
        margin: 0 auto;
    }
}
