*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0;
    overflow: hidden;
    font-family: system-ui;
}

@media (width < 768px) {
    #root {
        height: 100dvh;
    }
}

@media (min-width: 768px) {
    body {
        overflow-y: auto;
    }
}
